<html>
  
  <body>
    
    <center>
      
    <h3> Connor's Website </h3>
     <img src="https://static01.nyt.com/images/2025/04/03/fashion/KERMIT-DISAPPOINTMENT-kcqf/KERMIT-DISAPPOINTMENT-kcqf-mediumSquareAt3X-v2.jpg">
  </body>

    </html>
  
  <style>
    h3 {
  color: black;
  text-decoration: overline underline 1px wavy;
  letter-spacing: 3px;
  word-spacing: 5px;
  text-shadow: 2px 2px 5px orange; 
}

body {
  background-color: turquoise;
}
  </style>
